<div appHoveredCard class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <div class="row">
      <div class="col-1"></div>
      <a class="col-3" href="#" class="btn btn-primary">Complete</a>
      <div class="col-2"></div>
      <a class="col-3" href="#" class="btn btn-danger">Discard</a>
      <div class="col-1"></div>
      <div></div>
    </div>
  </div>
</div>
